<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Emotion AI</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1 style="text-align: center;">Emotion AI!</h1>
    <p style="text-align: center;">A fun project showcasing the powers of Emotion AI through both text and audio!</p>
    <p style="text-align: center;"><a href ="https://github.com/AnirudhSekar/Emotion-AI-Integration-with-Flask/tree/main">Github</a></p>
</body>
</html>